/* # Skip Links
---------------------------------------------------------------------------------------------------- */

.genesis-skip-link {
  margin: 0;

  li {
    height: 0;
    list-style: none;
    width: 0;
  }
}

/* Display outline on focus */
:focus {
  color: $colour-SkipLinks-Font-Focus;
  outline: #ccc solid 1px;
}