/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 10px;
}

h1 {
  font-size: $font-default-heading-h1-px;
  font-size: $font-default-heading;
}

h2 {
  font-size: $font-default-heading-h2-px;
  font-size: $font-default-heading-h2-rem;
}

h3 {
  font-size: $font-default-heading-h3-px;
  font-size: $font-default-heading-h3-rem;
}

h4 {
  font-size: $font-default-heading-h4-px;
  font-size: $font-default-heading-h4-rem;
}

h5 {
  font-size: $font-default-heading-h5-px;
  font-size: $font-default-heading-h5-rem;
}

h6 {
  font-size: $font-default-heading-h6-px;
  font-size: $font-default-heading-h6-rem;
}