/* ## Genesis
--------------------------------------------- */

.breadcrumb {
  background-color: $colour-comclass-genesis-breadcrumb-bckgrd;
  font-size: $font-com-cls-gen-brdcrb-px;
  font-size: $font-com-cls-gen-brdcrb-rem;
  margin-bottom: 1px;
  padding: 12px 30px;
}

.after-entry,
.archive-description,
.author-box {
  background-color: $colour-comclass-genesis-authbox-bckgrd;
  font-size: $font-com-cls-gen-aftent-px;
  font-size: $font-com-cls-gen-aftent-rem;
  margin-bottom: 40px;
  padding: 60px;
}

.archive-description p:last-child,
.author-box p:last-child {
  margin-bottom: 0;
}