/* ## Genesis
--------------------------------------------- */

.breadcrumb {
  background-color: $colour_ComClass-Genesis-BreadCrumb-BckGrd;
  font-size: $font_ComCls-Gen-BrdCrb-px;
  font-size: $font_ComCls-Gen-BrdCrb-rem;
  margin-bottom: 1px;
  padding: 12px 30px;
}

.after-entry,
.archive-description,
.author-box {
  background-color: $colour_ComClass-Genesis-AthBox-BckGrd;
  font-size: $font_ComCls-Gen-AftEnt-px;
  font-size: $font_ComCls-Gen-AftEnt-rem;
  margin-bottom: 40px;
  padding: 60px;
}

.archive-description p:last-child,
.author-box p:last-child {
  margin-bottom: 0;
}