/* ## Titles
--------------------------------------------- */

.archive-description .entry-title,
.archive-title,
.author-box-title {
  font-size: $font-com-cls-tit-arcdes-px;
  font-size: $font-com-cls-tit-arcdes-rem;
}

.entry-title {
  font-size: $font-com-cls-tit-ent-tit-px;
  font-size: $font-com-cls-tit-ent-tit-rem;
}

.entry-title a,
.sidebar .widget-title a {
  color: $colour-commonclasses-titles-link-font;
  text-decoration: none;
}

.entry-title a {
  :focus,
  :hover {
    color: $colour-commonclasses-titles-link-hoverfocus;
  }
}

.widget-title {
  font-size: $font-com-cls-tit-wgt-tit-px;
  font-size: $font-com-cls-tit-wgt-tit-rem;
  margin-bottom: 20px;
}
