// rationalised colour palette to allow naming of colours

// colour names:
//--------------------------------
$colour-white:          #fff;
$colour-mercury:        #e9e9e9;
$colour-silver-chalice: #a8a8a8;
$colour-dove-gray:      #676767;
$colour-mine-shaft:     #272727;
$colour-black:          #000;
$colour-thunderbird:    #c3251d;

// colour uses:
//-----------------------------------------------------------------
$colour-default-type-element-body-font:          $colour-mine-shaft;
$colour-default-type-element-body-background:    $colour-mercury;
$colour-default-type-element-hrtags-border-top:   $colour-mercury;
$colour-default-type-element-link-hoverfocus:    $colour-mine-shaft;
$colour-default-type-element-link-font:          $colour-thunderbird;

$colour-default-gallery-img-border:             $colour-mercury;

$colour-default-forms-font:                     $colour-mine-shaft;
$colour-default-forms-place-holder-font:         $colour-mine-shaft;
$colour-default-forms-button-background:        $colour-mine-shaft;
$colour-default-forms-site-cont-Btn-background:  $colour-mine-shaft;
$colour-default-forms-input-background:         $colour-white;
$colour-default-forms-btn-Font:                 $colour-white;
$colour-default-forms-btn-foc-hov-font:          $colour-white;
$colour-default-forms-btn-fochov-backgrd:        $colour-thunderbird;
$colour-default-forms-entcont-btn-fochov-font:  $colour-white;

$colour-default-tables-body-borderbot:          $colour-mercury;
$colour-default-tables-body-bordertop:          $colour-mercury;

$colour-default-screenreader-text-font:          $colour-mine-shaft;

$colour-commonclasses-titles-link-font:         $colour-mine-shaft;
$colour-commonclasses-titles-link-hoverfocus:   $colour-thunderbird;

$colour-comclass-genesis-breadcrumb-bckgrd:     $colour-white;
$colour-comclass-genesis-authbox-bckgrd:         $colour-white;


$colour-plugins-enews-widget-background:        $colour-mine-shaft;
$colour-plugins-enews-widget-border:            $colour-mine-shaft;
$colour-plugins-enews-widget-font-hoverfocus:   $colour-mine-shaft;
$colour-plugins-enews-widget-font:              $colour-white;
$colour-plugins-enews-widget-inp-font:          $colour-white;
$colour-plugins-enews-widget-inp-bckgrd:        $colour-thunderbird;
$colour-plugins-enews-widget-inp-fochov-bckgrd: $colour-white;

$colour-skiplinks-font-focus:                   $colour-mine-shaft;

$colour-siteheader-base-bckgrd:                 $colour-mine-shaft;
$colour-siteheader-titlearea-link-hoverfocus:   $colour-mine-shaft;

$colour-sitenav-base-link-font:                 $colour-mine-shaft;
$colour-sitenav-base-link-fochov:               $colour-thunderbird;
$colour-sitenav-base-submenu-bordertop:         $colour-mine-shaft;
$colour-sitenav-base-submenu-link-border:       $colour-mine-shaft;
$colour-sitenav-base-submenu-link-bckgrd:       $colour-white;

$colour-sitenav-afterheader-navprime-bordertop: $colour-mine-shaft;
$colour-sitenav-afthdrnav-navprime-bckgrd:      $colour-white;

$colour-content-area-entries-code-background:    $colour-mine-shaft;
$colour-content-area-entries-code-font:          $colour-mercury;
$colour-content-area-entries-ent-bckgrd:            $colour-white;

$colour-content-area-entrymeta-footer-bordertop: $colour-mercury;
//--------------------------------------------------------------------done above
$colour-content-area-pagination-link-font:       $colour-mine-shaft;
$colour-content-area-pag-arcpag-link-bckgrd:        $colour-white;
$colour-content-area-pag-arcpag-link-fochov-fnt:    $colour-white;
$colour-content-area-pag-arcpag-link-fochov-bckgrd: $colour-thunderbird;

$colour-content-area-com-comresp-bckgrd:            $colour-white;

$colour-sidebar-widget-bckgrd:                  $colour-white;

$colour-footerwgt-ftrwgt-bckgrd:                $colour-white;

$colour-sitefooter-siteftr-bckgrd:              $colour-white;

$colour-medquery-1023-menutoggle-font:          $colour-mine-shaft;
$colour-medquery-1023-menutoggle-fochov-bdrtop: $colour-mercury;
$colour-medquery-1023-menu-tog-submen-bckgrd:     $colour-white;
$colour-medquery-1023-menu-tog-fochov-bckgrd:     $colour-white;
$colour-medquery-1023-menu-tog-fochov-font:       $colour-thunderbird;

//-------------------------------------------------------------------
// more colours to be added below at a later date
//-------------------------------------------------------------------
// - $colour-silver-chalice
// - $colour-dove-gray
// - $colour-black
