// font sizes declared as variables instead of using Bourbon rem function
// as advocated in KTC video-section 2b-ep3 @5:35. Reason being, that the
// function has been deprecated since the video was produced.

// all sizes assume that root font is set to 10px

// font and rem sizes:
//-------------------------------------------------------------------------
$fontPX-h1:   36px;
$fontREM-h1:  3.6rem;

$fontPX-h2:   30px;
$fontREM-h2:  3rem;

$fontPX-h3:   24px;
$fontREM-h3:  2.4rem;

$fontPX-h4:   20px;
$fontREM-h4:  2rem;

$fontPX-h5:   18px;
$fontREM-h5:  1.8rem;

$fontPX-h6:   16px;
$fontREM-h6:  1.6rem;

// font uses:
//-------------------------------------------------------------------------
$font_Default-TypeElem-BodyDiv-px:  $fontPX-h4;
$font_Default-TypeElem-BodyDiv-rem: $fontREM-h4;
$font_Default-TypeElem-Body-px:     $fontPX-h4;
$font_Default-TypeElem-Body-rem:    $fontREM-h4;
$font_Default-TypeElem-BlkQte-px:   $fontPX-h2;
$font_Default-TypeElem-BlkQte-rem:  $fontREM-h2;

$font_Default-Heading-h1-px:    $fontPX-h1;
$font_Default-Heading-h1-rem:   $fontREM-h1;
$font_Default-Heading-h2-px:    $fontPX-h2;
$font_Default-Heading-h2-rem:   $fontREM-h2;
$font_Default-Heading-h3-px:    $fontPX-h3;
$font_Default-Heading-h3-rem:   $fontREM-h3;
$font_Default-Heading-h4-px:    $fontPX-h4;
$font_Default-Heading-h4-rem:   $fontREM-h4;
$font_Default-Heading-h5-px:    $fontPX-h5;
$font_Default-Heading-h5-rem:   $fontREM-h5;
$font_Default-Heading-h6-px:    $fontPX-h6;
$font_Default-Heading-h6-rem:   $fontREM-h6;

$font_Default-Form-Ipt-px:      $fontPX-h5;
$font_Default-Form-Ipt-rem:     $fontREM-h5;
$font_Default-Form-IptBtn-px:   $fontPX-h6;
$font_Default-Form-IptBtn-rem:  $fontREM-h6;

$font_ComCls-Gen-BrdCrb-px:     $fontPX-h6;
$font_ComCls-Gen-BrdCrb-rem:    $fontREM-h6;
$font_ComCls-Gen-AftEnt-px:     $fontPX-h5;
$font_ComCls-Gen-AftEnt-rem:    $fontREM-h5;

$font_ComCls-Tit-ArcDes-px:     $fontPX-h4;
$font_ComCls-Tit-ArcDes-rem:    $fontREM-h4;
$font_ComCls-Tit-EntTit-px:     $fontPX-h1;
$font_ComCls-Tit-EntTit-rem:    $fontREM-h1;
$font_ComCls-Tit-WgtTit-px:     $fontPX-h5;
$font_ComCls-Tit-WgtTit-rem:    $fontREM-h5;

$font_ComCls-WP-GlyCap-px:      14px;
$font_ComCls-WP-GlyCap-rem:     1.4rem;

$font_Wgt-FtdCnt-WgtTit-px:     $fontPX-h4;
$font_Wgt-FtdCnt-WgtTit-rem:    $fontREM-h4;