// font sizes declared as variables instead of using Bourbon rem function
// as advocated in KTC video-section 2b-ep3 @5:35. Reason being, that the
// function has been deprecated since the video was produced.

// all sizes assume that root font is set to 10px

// font and rem sizes:
//-------------------------------------------------------------------------
$fontPX-h1:   36px;
$fontREM-h1:  3.6rem;

$fontPX-h2:   30px;
$fontREM-h2:  3rem;

$fontPX-h3:   24px;
$fontREM-h3:  2.4rem;

$fontPX-h4:   20px;
$fontREM-h4:  2rem;

$fontPX-h5:   18px;
$fontREM-h5:  1.8rem;

$fontPX-h6:   16px;
$fontREM-h6:  1.6rem;

// font uses:
//-------------------------------------------------------------------------
$font-default-type-elem-bodyDiv-px:  $fontPX-h4;
$font-default-type-elem-bodyDiv-rem: $fontREM-h4;
$font-default-type-elem-body-px:     $fontPX-h4;
$font-default-type-elem-body-rem:    $fontREM-h4;
$font-default-type-elem-blkqte-px:   $fontPX-h2;
$font-default-type-elem-blkqte-rem:  $fontREM-h2;

$font-default-heading-h1-px:    $fontPX-h1;
$font-default-heading-h1-rem:   $fontREM-h1;
$font-default-heading-h2-px:    $fontPX-h2;
$font-default-heading-h2-rem:   $fontREM-h2;
$font-default-heading-h3-px:    $fontPX-h3;
$font-default-heading-h3-rem:   $fontREM-h3;
$font-default-heading-h4-px:    $fontPX-h4;
$font-default-heading-h4-rem:   $fontREM-h4;
$font-default-heading-h5-px:    $fontPX-h5;
$font-default-heading-h5-rem:   $fontREM-h5;
$font-default-heading-h6-px:    $fontPX-h6;
$font-default-heading-h6-rem:   $fontREM-h6;

$font-default-form-ipt-px:      $fontPX-h5;
$font-default-form-ipt-rem:     $fontREM-h5;
$font-default-form-iptbtn-px:   $fontPX-h6;
$font-default-form-iptbtn-rem:  $fontREM-h6;

$font-com-cls-gen-brdcrb-px:     $fontPX-h6;
$font-com-cls-gen-brdcrb-rem:    $fontREM-h6;
$font-com-cls-gen-aftent-px:     $fontPX-h5;
$font-com-cls-gen-aftent-rem:    $fontREM-h5;

$font-com-cls-tit-arcdes-px:     $fontPX-h4;
$font-com-cls-tit-arcdes-rem:    $fontREM-h4;
$font-com-cls-tit-ent-tit-px:     $fontPX-h1;
$font-com-cls-tit-ent-tit-rem:    $fontREM-h1;
$font-com-cls-tit-wgt-tit-px:     $fontPX-h5;
$font-com-cls-tit-wgt-tit-rem:    $fontREM-h5;

$font-com-cls-wp-glycap-px:      14px;
$font-com-cls-wp-glycap-rem:     1.4rem;

$font-wgt-ftdcnt-wgt-tit-px:     $fontPX-h4;
$font-wgt-ftdcnt-wgt-tit-rem:    $fontREM-h4;