/* ## Pagination
--------------------------------------------- */

.pagination {
  clear: both;
  margin: 40px 0;
}

.adjacent-entry-pagination {
  margin-bottom: 0;
}

.archive-pagination {
  li {
    display: inline;
  }

  a {
    background-color: $colour-content-area-pag-arcpag-link-BckGrd;
    color: $colour-ContentArea-Pagination-Link-Font;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 8px 12px;
    text-decoration: none;
  }

  a:focus,
  a:hover,
  .active a {
    background-color: $colour-content-area-pag-arcpag-link-FocHov-BckGrd;
    color: $colour-content-area-pag-arcpag-link-FocHov-Fnt;
  }
}
