/* ## Featured Content
--------------------------------------------- */

.featured-content .entry {
   background: none;
   padding: 0;

   &:last-of-type {
     margin-bottom: 0;
   }

   &-title {
     font-size: $font-wgt-ftdcnt-wgt-tit-px;
     font-size: $font-wgt-ftdcnt-wgt-tit-rem;
   }
 }
